<div class="task-view-container">
    <div class="row">
        <div class="offset-md-3"></div>
        <div class="quiz-view">
            <span>TASK 06</span>
            <span>|</span>
            <span>Quiz</span>
            <span>30 Points</span>
            <span><img src="../../../../assets/icons/calendar.svg" width="12"> Due Date: 10/10/2020</span>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3"></div>
        <div class="margin-20 top col-md-6">
            <div>Quiz</div>
            <p class="margin-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="quiz-test">
                <h5>Test your knowledge</h5>
                <div>
                    <p class="width40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div>Points</div>
                    <div class="points">30 Points</div>
                    <div class="margin-20 top">Required Time</div>
                    <div class="points">10 Minutes</div>
                    <button class="btn btn-primary margin20">START <img
                            src="../../../assets/icons/arrow-forward-outline.svg" width="15"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center text-small"><button class="btn btn-primary margin-10 right" (click)="addTask()">+</button>Add Task</div>
</div> 