<div class="menu-container">
    <ul>
        <li>
            <div class="profile"><img src="../../../assets/icons/user.png" width="90">
                <div><b>Jason Hunt</b></div>
                <div class="role">Admin</div>
            </div>
        </li>
        <li  routerLinkActive="active">
            <img src="../../../assets/icons/home.svg" width="25" alt="Home">
            <label>Home</label></li>
        <li routerLink="approval"  routerLinkActive="active"><img src="../../../assets/icons/courses.svg" width="25"
                alt="Courses"><label>Approval Queue</label> </li>

        <li  routerLinkActive="active"><img src="../../../assets/icons/students.svg" width="25"
                alt="My Students"> <label>Students</label></li>
        <li routerLinkActive="active"><img src="../../../assets/icons/students.svg" width="25"
                alt="My Students"> <label>Teachers</label></li>

  
        <li class="settings" routerLink="/settings" routerLinkActive="active"><img
                src="../../../assets/icons/settings.svg" width="25" alt="Settings"><label>Settings</label></li>
        <li class="logout" routerLink="/logout" routerLinkActive="active"><img src="../../../assets/icons/log-out.svg"
                width="25" alt="Logout"><label>Logout</label>
        </li>
    </ul>

    <div>
        <div class="header-container">
            <img src="../../../assets/icons/menu.svg" alt="Menu">
            <span class="text-small text-center">Approval Queue</span>
        </div>
        <div>
           <router-outlet></router-outlet>
        </div>
    </div>

</div>