<div class="container">
    <div class="sort">
        <div class=" page-side-header">
            < MY COURSES
        </div>
        <button type="button" (click)="onCreateCourse($event)" class="btn btn-primary nav-button">CREATE A NEW COURSE <img src="../../../../assets/icons/arrow-forward-outline.svg" width="15"></button>
    </div>
    <img class="text-center margin-20 top" src="../../../../assets/icons/bulp.png" width="50">
    <h3>Great, how you would like to create this new course?</h3>
    <h3 class="desc">You can duplicate an existing course and adjust your needs, or create a course from scratch.</h3>
    <div class="course-grid">
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
        <app-course-card [createCourse]="true" (onCreateCourse)="onCreateCourse($event)"></app-course-card>
    </div>
</div>