<div class="header-container" [ngClass]="{'collapse': isCollapse}">
    <img src="../../../assets/icons/menu.svg" alt="Menu">
    <span class="text-small">{{title}}</span>
    <span>
        <img src="../../../assets/icons/chatbubbles-outline.svg" width="20" alt="chatbubbles-outline">
        <img class="calender" src="../../../assets/icons/calendar-outline.svg" width="20" alt="calendar-outline">
        <img src="../../../assets/icons/notifications-outline.svg" width="20" alt="notifications-outline">
    </span>
</div>