.header-container{
    position: absolute;
    top: 0;
    box-shadow: 0px 5px 10px 0px #2D343614;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 15%);


    &.collapse {
        width: calc(100% - 15%);
    }

    .calender{
        margin: 0 20px;
    }

    .text-small{
        color: #0869B6;
    }
}