<div class="course-container">
    <ng-container *ngIf="!createCourse">
        <img src="../../../assets//icons/course.png" width="100" alt="">
    <div class="text-small">Web-development for beginner</div>
    <div class="user-name">Json hunt</div>
    <ul>
        <li>03 Lessons</li>
        <li>18 Tasks</li>
        <li>Beginner Level</li>
    </ul>
    <div class="text-xxsmall alignment">
        <span>64% Completed</span><span>32 days left</span>
    </div>
    <div class="text-xxsmall dates alignment margin-10 top">
        <span>Start: 08/01/2020</span><span>End: 08/02/2020</span>
    </div>
    <div class="text-xxsmall alignment margin-20 top">
        <span>72 Students</span><span><div class="nav-button">GO <li class="icon-forward-arrow"></li></div></span>
    </div>
    </ng-container>
    <div *ngIf="createCourse" class="create-course">
        <div class="text-small">New ideas coming up?</div>
        <div class="nav-button">CREATE A COURSE <li class="icon-forward-arrow"></li></div>
    </div>
</div>