<div class="course-container">
    <ng-container *ngIf="!createCourse">
        <img src="../../../assets//icons/course.png" width="100" alt="">
    <div class="text-small">Web-development for beginner</div>
    <div class="user-name">Json hunt</div>
    <ul class="font-10">
        <li>03 Lessons</li>
        <li>18 Tasks</li>
        <li>Beginner Level</li>
    </ul>
    <div class="text-xxsmall alignment font-10">
        <span>64% Completed</span><span>32 days left</span>
    </div>
    <div class="progress small">
        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    <div class="text-xxsmall dates alignment margin-10 top font-10">
        <span>Start: 08/01/2020</span><span>End: 08/02/2020</span>
    </div>
    <div class="text-xxsmall alignment margin-20 top">
        <span>72 Students</span><span> <button type="button" class="btn btn-primary">GO <img src="../../../assets/icons/arrow-forward-outline.svg" width="15"></button></span>
    </div>
    </ng-container>
    <div *ngIf="createCourse" class="create-course">
        <div class="text-small">New ideas coming up?</div>
        <button type="button" (click)="onCreate()" class="btn btn-primary nav-button">CREATE A COURSE <img src="../../../assets/icons/arrow-forward-outline.svg" width="15"></button>
    </div>
</div>