<div class="approval-container">
    <p class="text-small margin-top-35">
        <span class="opac" [ngClass]="{'opac1': selectedType == 'pendingUsers'}" (click)="changeType('pendingUsers')"><span class="dot"></span>PENDING USERS</span>
        <span class="margin-20 left right opac marginlr" [ngClass]="{'opac1': selectedType == 'approvedUsers'}" (click)="changeType('approvedUsers')"><span class="dot"></span>APPROVED USERS </span>
        <span class="opac" [ngClass]="{'opac1': selectedType == 'rejectedUsers'}" (click)="changeType('rejectedUsers')"><span class="dot"></span>REJECTED USERS </span>
    </p>
    <table *ngIf="selectedType == 'pendingUsers'" class="table margin-20 top">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Role</th>
            <th scope="col">Approve</th>
            <th scope="col">Reject</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Gaurav</td>
            <td>Kadam</td>
            <td>gk@gmail.com</td>
            <td>Teacher</td>
            <td><button class="btn btn-primary"></button></td>
            <td><button class="btn btn-danger"></button></td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="selectedType == 'approvedUsers'" class="table margin-20 top">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Role</th>
            <th scope="col">Update</th>
            <th scope="col">Suspend</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Gaurav</td>
            <td>Kadam</td>
            <td>gk@gmail.com</td>
            <td>Teacher</td>
            <td><button class="btn btn-primary"></button></td>
            <td><button class="btn btn-danger"></button></td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="selectedType == 'rejectedUsers'" class="table margin-20 top">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Gaurav</td>
            <td>Kadam</td>
            <td>gk@gmail.com</td>
            <td>Teacher</td>
            <td><button class="btn btn-primary"></button></td>
            <td><button class="btn btn-danger"></button></td>
          </tr>
        </tbody>
      </table>
</div>