.container {
    padding: 20px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    width: 75%;
    margin: 50px;

    .my-courses {
        box-shadow: 4px 0px 8px #2D343614;
        border-left: 4px solid #D2EDFB;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;

        .h3-text {
            // display: inline-block;

            .gray {
                opacity: .3;
            }

            .author {
                font-size: small;
                font-weight: 200;
                margin: 10px 0;
                display: flex;
                align-items: center;
            }

            .dot {
                height: 5px;
                width: 5px;
                background-color: #00B794;
                border-radius: 50%;
                margin-right: 5px;
                display: inline-block;
            }

            .text-small {
                font-size: x-small;
                font-weight: 200;
            }

            .alignment {
                display: flex;
                justify-content: space-between;
                font-size: x-small;

                &.opac {
                    opacity: .4;
                }
            }

            &.status {
                flex-grow: 0.6;
            }

            &.course-img {
                width: 30%;

                img {
                    display: block;
                    margin: auto;
                }

                progress {
                    width: 100%;
                }

            }

        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .img-idea {
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    .add-lesson {
        box-shadow: 4px 0px 8px #2D343614;
        font-size: x-small;
        margin-top: 30px;
        padding: 40px;
    }
}

small {
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 5px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none !important;

}

.nav-tabs .nav-item {
    font-size: 12px;
}

.course-desc {
    font-size: 13px;
    font-weight: 200;
    margin-top: 10px;
}

.padding-l0 {
    padding-left: 0;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
}

.nav-link{
    color: #bdacac;
}

