.container {
    padding: 20px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    width: 75%;
    margin: 50px;

    .add-first-task {
        box-shadow: 4px 0px 8px #2D343614;
        border-radius: 5px;
        padding: 40px;
        width: 50%;
        margin: auto;
    }
}

.add-task-container {
    margin: 50px;
    display: flex;
    flex-grow: 1;

    .add-task-form {
        flex-grow: .8;
        padding: 20px 8%;
        width: 50%;
    }

    .task-type {

        flex-grow: .1;
        padding: 20px 50px;
    }

    label {
        font-size: 12px;
    }

    .publish {
        box-shadow: 0px 1px 5px 2px #2D343614 !important;
        padding: 10px;
        border-radius: 5px;

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            margin-left: auto;
        }
    }

    a {
        font-size: 12px;
    }

    .text-color {
        color: #898d8e;
    }

    .shadow {
        box-shadow: 0px 1px 5px 2px #2D343614 !important;
        border-radius: 5px;
        padding: 10px;
    }

    .font-small {
        font-size: 12px;
    }

    a {
        cursor: pointer;
    }

    #upload-file {
        display: none;
    }

    .margintb {
        margin: 20px 0;
    }

    .quiz {
        .title {
            display: inline-block;
            width: 70%;

        }

        .required-time {
            margin-left: 20px;
            display: inline-block;
            width: 20%;
        }
    }

    .question-panel {
        background-color: #f1f2f3;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }

    .answer-panel {
        background-color: #f5f6f7;
        padding: 10px;
    }

    .form-check {
        display: flex;
        align-items: center;
    }

    .pointer {
        cursor: pointer;
    }


}

.task-view-container {
    margin-top: 60px;


    .quiz-view {
        width: 30%;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        color: #636e71;
        margin-top: 20px;
    }

    .row {
        width: 100%;

        p {
            font-weight: 200;
        }
    }

    .col-md-6 {
        padding: 0 !important;
    }

    .quiz-test {
        padding: 20px;
        margin: 40px 0;
        box-shadow: 0px 1px 5px 2px #2D343614 !important;
        border-radius: 10px;
        background: url(../../../../assets/icons/quiz.png);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .width40 {
        width: 40%;
    }

    .margin20 {
        margin: 20px 0;
    }

    .points {
        font-weight: 200;
        font-size: 14px;
    }
}

.menu-container {
    display: flex;
    z-index: 1;
    background: white;

    div {
        flex-grow: 2;
    }

    ul {
        list-style: none;
        box-shadow: 4px 0px 8px #2D343614;
        width: 200px;
        margin: 0;
        padding: 20px 0;
        height: 100vh;


        li {
            color: #0869B6;
            display: flex;
            align-items: center;
            font-size: 12px;
            cursor: pointer;
            font-weight: 300;
            padding: 10px;
            margin: 5px;
            outline: none;

            &.lessons {
                display: flex;
                flex-direction: column;
                line-height: .7;
                margin: -10px;
            }

            &.active {
                background-color: #f5fafe;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                border-left: 4px solid #0A83E3;
            }

            label {
                margin-left: 12px;
                cursor: pointer;
            }

            &.settings {
                position: absolute;
                bottom: 45px;
                width: 160px;
            }

            &.logout {
                position: absolute;
                bottom: 0;
            }

            div {
                &.profile {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);

                    img {
                        border: 4px solid lightskyblue;
                        border-radius: 50%;
                        width: 90px;
                        height: 90px;
                        padding: 5px;
                        box-sizing: border-box;
                        display: flex;
                        margin: auto;
                    }

                    div {
                        color: #2D3436;
                        text-align: center;

                        &.role {
                            font-size: smaller;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}

.lesson-name {
    display: flex;
    flex-direction: column;
    line-height: .5;
}

.task-type-name {
    font-size: 10px;
    font-weight: 200;
}

.color-black {
    color: black !important;
}

.back-to-lesson {
    margin: -18px 0;
}

.margin-15 {
    margin: -15px 0 !important;
}

.margin-top-15 {
    margin-top: -5px !important;
}

.task-icon{
    border: 1px solid black;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 50%;
}

.width90{
    width: 90%;
}

.rotate-up{
    transform: rotate(180deg);
    transition: .5s;
}

.rotate-90{
    transform: rotate(90deg);
    margin-top: 3px;
    margin-right: 5px;
}

.dropdown-menu{
    font-size: 12px;
}
