.container {
    padding: 20px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    width: 75%;
    margin: 50px;

    .add-first-task {
        box-shadow: 4px 0px 8px #2D343614;
        padding: 40px;
        width: 50%;
        margin: auto;
    }
}