.container {
    padding: 20px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    width: 75%;
    margin: 50px;

    .add-first-task {
        box-shadow: 4px 0px 8px #2D343614;
        border-radius: 5px;
        padding: 40px;
        width: 50%;
        margin: auto;
    }
}

.add-task-container {
    margin: 50px;
    display: flex;

    .add-task-form {
        flex-grow: .8;
        padding: 20px 8%;
        width: 50%;
    }

    .task-type {

        flex-grow: .1;
        padding: 20px 50px;
    }

    label {
        font-size: 12px;
    }

    .publish {
        box-shadow: 0px 1px 5px 2px #2D343614 !important;
        padding: 10px;
        border-radius: 5px;

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            margin-left: auto;
        }
    }

    a {
        font-size: 12px;
    }

    .text-color {
        color: #898d8e;
    }

    .shadow {
        box-shadow: 0px 1px 5px 2px #2D343614 !important;
        border-radius: 5px;
        padding: 10px;
    }

    .font-small {
        font-size: 12px;
    }

    a {
        cursor: pointer;
    }

    #upload-file {
        display: none;
    }

    .margintb {
        margin: 20px 0;
    }

    .quiz {
        .title {
            display: inline-block;
            width: 70%;

        }

        .required-time {
            margin-left: 20px;
            display: inline-block;
            width: 20%;
        }
    }

    .question-panel {
        background-color: #f1f2f3;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }

    .answer-panel {
        background-color: #f5f6f7;
        padding: 10px;
    }

    .form-check {
        display: flex;
        align-items: center;
    }

    .pointer {
        cursor: pointer;
    }


}

.task-view-container {
    margin-top: 60px;


    .quiz-view {
        width: 30%;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        color: #636e71;
        margin-top: 20px;
    }

    .row {
        width: 100%;

        p {
            font-weight: 200;
        }
    }

    .col-md-6 {
        padding: 0 !important;
    }

    .quiz-test {
        padding: 20px;
        margin: 40px 0;
        box-shadow: 0px 1px 5px 2px #2D343614 !important;
        border-radius: 10px;
        background: url(../../../../assets/icons/quiz.png);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .width40 {
        width: 40%;
    }

    .margin20 {
        margin: 20px 0;
    }

    .points {
        font-weight: 200;
        font-size: 14px;
    }
}

