<!-- <div  class="container">
    <div class="text-center">
            <img class="margin-20 bottom" src="../../../../assets/icons/fire-cloud.png" width="60">
            <h3 >Well done! Now it's time to add your first task</h3>
            <div class="add-first-task">
                    <button type="button" class="btn btn-primary">+</button>
                <div class="text-center">Add Task</div>
            </div>
    </div>
</div> -->

<div class="add-task-container">
    <div class="add-task-form">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Task Title</label>
                <input type="email" class="form-control font-small" id="exampleInputEmail1">
            </div>
        </form>
        <div *ngIf="imgURL" class="text-center">
            <div class="text-right">X</div>
            <img class="margintb" [src]="imgURL" height="300" > 
        </div>

        <div class="dropdown text-center">
            <button class="btn btn-primary " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                +
            </button> <span class="font-small margin-10 left">Add an element</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Text</a>
                <a class="dropdown-item" (click)="uploadFile()">Image</a>
                <a class="dropdown-item">Code</a>
                <a class="dropdown-item">Upload PDF</a>
            </div>
        </div>
        <input id="upload-file" #file type="file" accept='image/*' (change)="preview(file.files)" />
    </div>
    <div class="task-type">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Task Type</label>
            <select class="form-control text-color font-small" id="exampleFormControlSelect1">
                <option>Quiz</option>
                <option>Reading</option>
                <option>Task</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Points</label>
            <select class="form-control text-color font-small" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div>
            <label for="">Due date</label>
        </div>
        <div class="margin-10 top">
            <label class="form-check-label" for="defaultCheck1">
                Requirements
            </label>
            <div class="form-check margin-10 top shadow">
                <input class="" type="checkbox" value="" id="defaultCheck1">
                <label class="text-color margin-10 left">Complete previous task</label>
            </div>
        </div>
        <div class="margin-10 top bottom">
            <label for="">Publish</label>
            <div class="publish">
                <div><label class="text-color">Status: </label> <label class="margin-10 left right">Draft</label> <a
                        href="">Edit</a></div>
                <div><label class="text-color">Last update: </label> <label
                        class="margin-10 left right">09/14/2020</label></div>
                <hr>
                <div class="actions">
                    <a href="">Cancel</a>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>