.activity-container{
    box-shadow: 4px 0px 8px #2D343614;
    border-left: 4px solid #D2EDFB;
    width: 70%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}