/* You can add global styles to this file, and also import other style files */
@import './commonStyle.scss';

body {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.text-small {
    font-size: small;
}

.text-medium {
    font-size: medium;
}

.text-xxsmall {
    font-size: xx-small;

    &.gray {
        color: #B2BEC3;
    }
}

.margin-5 {
    &.top {
        margin-top: 5px;
    }

    &.bottom {
        margin-bottom: 5px;
    }

    &.left {
        margin-left: 5px;
    }

    &.right {
        margin-right: 5px;
    }
}

.margin-10 {
    &.top {
        margin-top: 10px;
    }

    &.bottom {
        margin-bottom: 10px;
    }

    &.left {
        margin-left: 10px;
    }

    &.right {
        margin-right: 10px;
    }
}

.margin-20 {
    &.top {
        margin-top: 20px;
    }

    &.bottom {
        margin-bottom: 20px;
    }

    &.left {
        margin-left: 20px;
    }

    &.right {
        margin-right: 20px;
    }
}

.gray-text-color {
    color: $gray-text-color;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    display: block;
    margin: auto;
    text-align: center;
}

.btn {
    font-size: 12px !important;
}

h3 {
    font-size: 23px !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid white !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: 0px 1px 5px 2px #2D343614 !important;
}

.btn {
    border-radius: 10px !important;
}

.progress {
    width: 100%;
    height: 8px !important;

    &.small {
        height: 5px !important;
    }
}

.progress-bar {
    background-color: #72bcfb !important;
}

.btn-primary {
    background-color: #0c83e3 !important;
    border-color: #0c83e3 !important;
    letter-spacing: 2px !important;
}

.btn-outline-primary {
    letter-spacing: 2px !important;
}

